/ProjectHours/nbproject/private/
/ProjectHours/build/
/ProjectConvert/nbproject/private/
/ProjectConvert/build/
/ProjectStrudent/nbproject/private/
/ProjectStudent/nbproject/private/
/ProjectStudent/build/
/ProjectStudent/dist/
/ProjectJoke/nbproject/private/
/ProjectJoke/build/
/ProjectTeacher/nbproject/private/
